<div class='fb-tab-pane active' id='addField'>
  <div class='fb-add-field-types'>
    <div class="fb-button-section-header">Input Fields</div>
    <div class='section'>
      <% Formbuilder.sorted_inputs.sort(function (a, b) {
          a = a.caption,
          b = b.caption;
          return a.localeCompare(b);
        });
      %>
      <% Formbuilder.sorted_noninputs.sort(function (a, b) {
          a = a.caption,
          b = b.caption;
          return a.localeCompare(b);
        });
      %>
      <% for (i in Formbuilder.sorted_inputs) { %>
        <a data-field-type="<%= Formbuilder.sorted_inputs[i].field_type %>" class="<%= Formbuilder.options.BUTTON_CLASS %>">
          <%= Formbuilder.sorted_inputs[i].button_template %>
        </a>
      <% } %>
    </div>
    <div class="fb-button-section-header">Non-Input Fields</div>
    <div class='section'>
      <% for (i in Formbuilder.sorted_noninputs) { %>
        <a data-field-type="<%= Formbuilder.sorted_inputs[i].field_type %>" class="<%= Formbuilder.options.BUTTON_CLASS %>">
          <%= Formbuilder.sorted_noninputs[i].button_template %>
        </a>
      <% } %>
    </div>
  </div>
</div>