<div class='fb-edit-section-header'>Options</div>

<label>
  <input id='include_middle_name_<%= rf.getCid() %>' type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.INCLUDE_PHOTO %>' />
  Include "Photo"
</label>

<label>
  <input id='include_middle_name_<%= rf.getCid() %>' type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.INCLUDE_VIDEO %>' />
  Include "Video"
</label>

<label>
  <input id='include_middle_name_<%= rf.getCid() %>' type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.INCLUDE_AUDIO %>' />
  Include "Audio"
</label>
