<div class='fb-edit-section-header'>Conditions</div>
<label>
  <input type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.INCLUDE_CONDITIONS %>' />
  Include Conditions
</label>
<div class='subtemplate-wrapper' data-rv-show='model.<%= Formbuilder.options.mappings.INCLUDE_CONDITIONS %>' >
  <span class='fb-field-label fb-field-condition-label span1'> If </span>
  <div class="span8">
    <select>
      <% for( var i=0 ; i < opts.parentView.fieldViews.length ; i++){%>
        <% if(opts.parentView.fieldViews[i].model.attributes.label == rf.attributes.label){ %>
          <% break %>
        <% } %>
        <option><%= opts.parentView.fieldViews[i].model.attributes.label %></option>
      <%}%>
    </select>
  </div>
  <span class='fb-field-label fb-field-condition-label span2'> field </span>
  <div class="span6">
    <select>
        <option>Equals</option>
        <option>Greater Than</option>
        <option>Less Than</option>
    </select>
  </div>
  <span class='fb-field-label fb-field-condition-label span2'> then </span>
  <div class="span3">
    <select>
        <option>Show</option>
        <option>Hide</option>
    </select>
  </div>
  <span class='fb-field-label fb-field-condition-label span2' data-rv-text='model.<%= Formbuilder.options.mappings.LABEL %>' />
</div>