<div class='fb-edit-section-header'>Labels</div>
<div class="control-group">
  <label class="control-label">First Value</label>
  <div class="controls">
    <input type="text" pattern="^[\w]+[\w\s ]*" data-rv-input=
      "model.<%= Formbuilder.options.mappings.START_DATE_TIME_TEXT %>"
      value='Start Date Time' placeholder="Start Date Time"/>
  </div>
</div>
<div class="control-group">
  <label class="control-label">Second Value</label>
  <div class="controls">
    <input type="text" pattern="^[\w]+[\w\s ]*" data-rv-input=
      "model.<%= Formbuilder.options.mappings.END_DATE_TIME_TEXT %>"
      value='End Date Time' placeholder="End Date Time"/>
  </div>
</div>
<div class="control-group">
  <label class="control-label">Difference</label>
  <div class="controls">
    <input type="text" pattern="^[\w]+[\w\s ]*" data-rv-input=
      "model.<%= Formbuilder.options.mappings.DATETIME_DIFFERENCE_TEXT %>"
      value='Difference' placeholder="Difference"/>
  </div>
</div>