<form>
  <div class='fb-edit-section-header'>Characters Limit</div>

  Min
  <input id="min_<%=rf.getCid()%>" type="number" min="0" data-rv-input="model.<%= Formbuilder.options.mappings.MINLENGTH %>" style="width: 30px" />

  &nbsp;&nbsp;

  Max
  <input id="max_<%=rf.getCid()%>" type="number" data-rv-min="model.<%= Formbuilder.options.mappings.MINLENGTH %>" data-rv-input="model.<%= Formbuilder.options.mappings.MAXLENGTH %>" style="width: 30px" />

  &nbsp;&nbsp;

  <input class="fb-clear-min-max" type="reset" value="clear">
</form>

<script>
  $(function() {
    $("#min_<%= rf.getCid() %>").change(function(){
      if ($(this).val() < 0){$(this).val(0)}
    });
    $("#max_<%= rf.getCid() %>").change(function(){
      if ($(this).val() < $('#min_<%= rf.getCid() %>').val()){$(this).val('')}
    });
  });
</script>