<form>
  <div class='fb-edit-section-header'>Characters Limit</div>

  Min
  <input id="min_<%=rf.getCid()%>" type="number" min="0" data-rv-input="model.<%= Formbuilder.options.mappings.MINLENGTH %>" class="para_text_opt_min_max_len" />

  &nbsp;&nbsp;

  Max
  <input id="max_<%=rf.getCid()%>" type="number" data-rv-input="model.<%= Formbuilder.options.mappings.MAXLENGTH %>" class="para_text_opt_min_max_len" />

  &nbsp;&nbsp;

  <input class="fb-clear-min-max" type="reset" value="clear">
</form>

<script>
  $(function() {
    $("#min_<%= rf.getCid() %>").change(function(){
      $("#max_<%= rf.getCid() %>").attr('min',$(this).val())
      if (parseInt($(this).val()) < 0){
        $(this).val(0)
      }
    });
    $("#max_<%= rf.getCid() %>").change(function(){
      if (parseInt($(this).val()) < parseInt($('#min_<%= rf.getCid() %>').val()) || parseInt($(this).val()) < 0){
        $(this).val('')
      }
    });
  });
</script>