<div class='fb-edit-section-header'>Options</div>

<% if (typeof includeBlank !== 'undefined'){ %>
  <label>
    <input type='checkbox' id='include_empty_option_<%= rf.getCid() %>' data-rv-checked='model.<%= Formbuilder.options.mappings.INCLUDE_BLANK %>' />
    Include blank
  </label>
  <% if (typeof rf !== 'undefined'){ %>
    <div class="control-group" id='empty_option_div_<%= rf.getCid() %>'
      style= '<%= rf.get(Formbuilder.options.mappings.INCLUDE_BLANK) ? 'display:block' : 'display:none' %>' >
      <div class="controls">
        <input class="empty-option-text" type="text" pattern="^[\w]+[\w\s ]*"
         data-rv-input=
         "model.<%= Formbuilder.options.mappings.EMPTY_OPTION_TEXT %>"
         value='Select Option' placeholder="Empty option text"/>
      </div>
    </div>
  <% } %>
<% } %>

<div class='option' data-rv-each-option='model.<%= Formbuilder.options.mappings.OPTIONS %>'>
  <input type="checkbox" class='js-default-updated' data-rv-checked="option:checked" />
  <input type="text" data-rv-input="option:label" class='option-label-input' />
  <a class="js-add-option <%= Formbuilder.options.BUTTON_CLASS %>" title="Add Option"><i class='icon-plus-sign'></i></a>
  <a class="js-remove-option <%= Formbuilder.options.BUTTON_CLASS %>" title="Remove Option"><i class='icon-minus-sign'></i></a>
</div>

<% if (typeof includeOther !== 'undefined'){ %>
  <label>
    <input type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.INCLUDE_OTHER %>' />
    Include "other"
  </label>
<% } %>

<div class='fb-bottom-add'>
  <a class="js-add-option <%= Formbuilder.options.BUTTON_CLASS %>">Add option</a>
</div>
